.banner{
    box-sizing: border-box;
    background-image: url(../../imagens/photo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 797px;
    padding-top: 117px;
    padding-left: 411px;
}

.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 651.17px;
    height: 184px;
}

.banner .box{
    margin-bottom: 60px;
}

.banner .navigation{
    display: flex;
    justify-content: space-around;
}