.button{
	display: inline-block;
	background-color: #5AF2F2;
	box-shadow: 5px 5px 0px #000000;	
	padding: 18px 20px;
	margin-right: 0;
	transition: transform 100ms linear;
    text-align: center;
    color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 0px #fff;
	width: 140px;
}

.button:hover {
	transform: scale(1.1);
}

.button-arrow .content{
	display: none;
}

.button-arrow{
	height: 50px;
	width: 50px;
	background-color: #3A4042;
	box-shadow: 5px 5px 0px #000000;
	cursor: pointer;
}

.button-arrow::before{
	content: '';
	display: block;
	box-sizing: border-box;
	width: 15px;
	height: 15px;
	border: 15px solid transparent;
	border-left: 28px solid #fff;
	transform: translateX(5px);
}

.button-arrow.-left::before{
	transform: rotate(180deg) translateX(12px);
}