.skill-tec{
    display: flex;
    font-family: 'Press Start 2P';
    font-size: 22px;
    color: #fff;
}

.skill-tec .icon{
    margin-right: 30.73px;
    width: 80.27px;
    height: 100px;
    margin-top: 18px;
}

.skill-tec .right{
    display: flex;
    flex-direction: column;
}