.text{
    font-size: 30px;
    font-family: "Fira Code";
    color: #fff;
    text-align: justify;
    margin-left: 90px;
    margin-right: 90px;
    font-weight: 300;
    line-height: 1.4;
}

